/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #000;
	--global-font-family: "MuseoSans", "Verdana", "Helvetica", sans-serif;
	--global-font-weight: 300;
	--global-font-size: 20;
	--global-font-line-height: 1.4;
	--highlight-font-family: "Frutiger", "Tahoma", "Arial", sans-serif;
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/**
	 * ORC Colors
	 *
	 * Green on logo: #66703a - With white
	 *
	 * Dark green:    #67713a - With white
	 * Light green:   #9ea174 - With black
	 * Dark blue:     #3f6bad - With white
	 * Lighter blue:  #98b2dc - With black
	 * Light blue:    #70cddd - With black

	 * White:         #ffffff - With #66703a, #67713a, #3f6bad
	 * Black:         #000000 - With #9ea174, #98b2dc, #70cddd
	 * 
	 */

	/* Custom editor colors */
	--color-theme-primary: #66703a;
	--color-theme-secondary: #41848f;

	--color-theme-dark-green: #67713a;
	--color-theme-light-green: #9ea174;
	--color-theme-dark-blue: #3f6bad;
	--color-theme-lighter-blue: #98b2dc;
	--color-theme-light-blue: #70cddd;

	--color-theme-grey: #cccccc;
	--color-theme-white: #ffffff;
	--color-theme-black: #000000;

	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;

	--color-quote: #40464d;
	--color-quote-border: #ccc;
	--color-quote-citation: #6c7781;

	--color-facebook: #3b569d;
	--color-instagram: #b12bb2;
	--color-twitter: #1da1f2;
	--color-youtube: #f00;

	--color-border: #eee;

	--orc-border: 1px solid #eee;

	/* Custom editor font sizes */
	/**
	 * Using 20px global font size
	 * small   - 0.8em  (16px)
	 * regular - 1.25em (25px)
	 * large   - 1.6em  (32px)
	 * larger  - 2.0em  (40px)
	 */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(32 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(40 / var(--global-font-size) * 1rem);
}
