/**
 * CSS file for the Single Testimonials Page
 */

.location {
	font-size: 1rem;
	text-align: center;
}

.entry-content {
	margin: 1em;
	max-width: var(--content-width);
}

nav a {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
	text-align: center;
}

@media (--content-query) {
	.entry-content {
		margin: 1em auto 3em auto;
		border-left: 4px solid var(--color-quote-border);
		padding: 1em;
	}
}
